<p-card>
  <p-toast />
  <ng-template pTemplate="header">
    <div class="flex justify-content-between">
      <h2
        class="text-overflow-ellipsis text-overflow-hidden"
        title="{{ blog.title }}"
      >
        {{ blog.title }}
      </h2>
      <p-button
        class="m-2"
        *ngIf="userId != -1"
        icon="pi pi-trash"
        severity="danger"
        (onClick)="deleteBlog(blog.id)"
      />
    </div>
  </ng-template>
  <ng-template pTemplate="subtitle">
    <p-badge *ngFor="let tag of blog.tags" [value]="tag" class="mr-2" />
  </ng-template>
  <ng-template pTemplate="content" class="p-0">
    <p class="card-description m-0">{{ blog.body }}</p>
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="flex flex-nowrap gap-3 mt-1 justify-content-between">
      <div class="flex flex-nowrap gap-3">
        <span class="flex flex-nowrap align-items-center"
          ><p-button
            icon="pi pi-thumbs-up"
            [rounded]="true"
            severity="primary"
            [outlined]="true"
            class="mr-2"
          />
          {{ blog.reactions.likes }}
        </span>
        <span class="flex flex-nowrap align-items-center"
          ><p-button
            icon="pi pi-thumbs-down"
            [rounded]="true"
            severity="primary"
            [outlined]="true"
            class="mr-2"
          />
          {{ blog.reactions.dislikes }}
        </span>
      </div>
      <app-comment [userId]="blog.userId"></app-comment>
    </div>
  </ng-template>
</p-card>
