<section>
  <header class="flex justify-content-between">
    <h4>Current Blogs</h4>
    <div *ngIf="userIdConst && userIdConst != -1">
      <app-add-blog-form [userId]="userIdConst"></app-add-blog-form>
    </div>
  </header>
  <div class="blog-container" *ngIf="blogs.length > 0">
    <app-blog
      *ngFor="let blog of blogs"
      [blog]="blog"
      [userId]="userIdConst"
    ></app-blog>
  </div>
  <p-paginator
    (onPageChange)="onPageChange($event)"
    [first]="first"
    [rows]="rows"
    [totalRecords]="total"
    [rowsPerPageOptions]="[10, 20, 30]"
  />
</section>
